* {
  margin: 0;
  padding: 0;
}
#showcase {
  background-image: url('./ABILITEAS\ LANDING\ PAGE.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#showcase2 {
  background-image: url('./Thank-you-page.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navBackground {
  background-color: black;
  height: 80px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0px;
}

.navBarRight {
  display: flex;
  justify-content: flex-end;
}

.navBarIcon {
  padding-left: 30px;
}
