* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Landing Page */
#showcase {
  background-image: url('./ABILITEAS\ LANDING\ PAGE.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* Confirmation page */
#showcase2 {
  background-image: url('./Thank-you-page.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* Headers with our sheep */
#center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
/* All Products Page */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  padding: 2%;
  flex: 1 25%;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  display: flex;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa fa-cart-plus {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.fa fa-cart-plus:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.fa fa-cart-plus:active {
  position: relative;
  top: 1px;
}

/* Nav bar */
.navBackground {
  background-color: black;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0px;
}

.navBarRight {
  display: flex;
  justify-content: flex-end;
}

.navBarIcon {
  padding-left: 30px;
}

/* Login Page */
:root {
  --form_bg: #ffffff;
  --input_bg: rgb(35, 34, 34);
  --input_hover: #eaeaea;
  --submit_bg: black;
  --submit_hover: #eaeaea;
}

#form_wrapper {
  width: 1000px;
  height: 700px;
  /* this will help us center it*/
  margin: auto;
  background-color: var(--form_bg);
  border-radius: 50px;
  /* make it a grid container*/
  display: grid;
  /* with two columns of same width*/
  grid-template-columns: 1fr 1fr;
  /* with a small gap in between them*/
  grid-gap: 5vw;
  /* add some padding around */
  padding: 5vh 15px;
}

#form_left {
  /* center the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

#form_right {
  display: grid;
  /* single column layout */
  grid-template-columns: 1fr;
  /* have some gap in between elements*/
  grid-gap: 20px;
  padding: 10% 5%;
  align-self: center;
}

.input_field {
  /* customize the input tag with lighter font and some padding*/
  color: var(--icon_color);
  background-color: #fffaf0;
  width: 90%;
  border: none;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 30px;
  margin-bottom: 10px;
}

.input_field:hover,
.input_field:focus {
  outline: none;
}

#input_submit {
  background-color: var(--submit_bg);
  padding: 5px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#input_submit:hover {
  background-color: var(--submit_hover);
  transition: background-color, 1s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #form_wrapper {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }
  #form_left {
    display: none;
  }
}

/* single tea page */
.singleTea {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#singleTeaImage {
  padding-right: 80px;
  border-right: solid;
  border-right-color: black;
  border-width: 1px;
}

#singleTeaInfo {
  padding-left: 40px;
}

#singleTeaName {
  font-size: 80px;
  line-height: 60px;
}

#singleTeaFlavor {
  font-size: 30px;
  font-style: italic;
  padding-bottom: 30px;
}

#singleTeaDescription {
  font-size: 14px;
  font-style: bold;
  line-height: 20px;
  padding-bottom: 30px;
}

#singleTeaPrice {
  display: flex;
  font-size: 18px;
  font-style: bold;
  justify-content: space-between;
  padding-bottom: 30px;
}

#brewInstructions {
  border-top: solid;
  border-top-width: 1px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

#brewleft {
  display: flex;
  flex-direction: column;
}

#brewright {
  display: flex;
  flex-direction: column;
}

/* User Homepage */

#userWelcomePage {
  margin-top: 75px;
}

#userNameWelcome {
  padding-top: 150px;
  font-size: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User Profile Page */

#userProfilePage {
  display: flex;
  padding-top: 80px;
  justify-content: space-evenly;
}

#userInformation {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userPageOrderHistory {
  padding-top: 100px;
}

#scrollOrders {
  height: 500px;
  width: 800px;
  overflow-y: scroll;
}

#userPageName {
  padding-top: 20px;
  font-size: 40px;
  line-height: 30px;
}

#userPageEmail {
  font-size: 20px;
  font-style: italic;
  padding-bottom: 20px;
}

/* Order History Page */
.orderHistoryEmpty {
  font-size: 20px;
  font-style: italic;
}
